@model CourseProject.Models.Product

<div class="col-sm-6 col-md-4">
    <div class="card">
        <div class="card h-100">
            <img class="card-img-top" src="https://s1.1zoom.ru/big7/888/Eyes_Owls_Bubo_502568.jpg" alt="...">
            <div class="card-body">
                <h3 class="card-title">@Model.Name</h3>
                <p class="card-text">@Model.Description</p>
                <h3 class="card-subtitle mb-2 text-muted">@Model.Price руб.</h3>
                    <p>
                        <a href="#" class="btn btn-dark" role="button">Добавить в корзину</a>
                    </p>
            </div>
        </div>
    </div>
</div>