@model IQueryable<CourseProject.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var product in Model)
    {
        @await Html.PartialAsync("ProductInfo", product)
    }
</div>